{% extends 'layouts/base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<main class="container emergency-call">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="text-center border-bottom pb-2">EMERGENCY CALL</h3>
      <div class="row mt-4 row-cols-1 row-cols-lg-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">POLDA SULUT</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">0431-870416</h1>
              <a href="tel:0431870416" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">POLRES KOTAMOBAGU</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">0434-21009</h1>
              <a href="tel:043421009" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">DAMKAR KOTAMOBAGU</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">0434-25111</h1>
              <a href="tel:043425111" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">KABID DAMKAR KOTAMOBAGU</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">082344820219</h1>
              <a href="tel:+6282344820219" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">RS. KINAPIT</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">0434-21192</h1>
              <a href="tel:043421192" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">MANAGER ULPLTD</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">085256008222</h1>
              <a href="tel:+6285256008222" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">PJ LAKS K3L DAN KAM</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">085340029197</h1>
              <a href="tel:+6285340029197" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary d-flex justify-content-center align-items-center">
              <h4 class="my-0 fw-normal">DANRU</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">082187400902</h1>
              <a href="tel:+6282187400902" class="w-100 btn btn-lg btn-secondary bg-gradient"><i class="bi-telephone"></i> Hubungi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
