{% extends 'layouts/base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<main class="container form-input">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="text-center border-bottom pb-2 mb-3">FORM INPUT CCTV</h3>
      {% if messages %}{% for msg in messages %}
      <div class="row">
        <div class="col">
          <div class="alert alert-danger alert-dismissible fade show text-center mx-3 rounded-4" role="alert"><i class="bi-exclamation-triangle-fill text-center me-2"></i>{{msg}}</div>
        </div>
      </div>
      {% endfor %}{% endif %}
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nama Security</label>
            {% for name in names %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="nama_security_id" value="{{name.nama_security}}" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> {{name.nama_security}} </label>
            </div>
            {% endfor %}
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Lokasi Pantau CCTV</label>
            <div class="form-check">
              <input class="form-check-input semua" type="radio" name="lokasi" id="flexRadioDefault1" value="Semua Titik" />
              <label class="form-check-label" for="flexRadioDefault1"> Semua Titik </label>
            </div>
            <div class="form-check">
              <input class="form-check-input tertentu" type="radio" name="lokasi" id="flexRadioDefault2" value="" />
              <label class="form-check-label" for="flexRadioDefault2"> Titik Tertentu </label>
              <div></div>
            </div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Kondisi</label>
            <div class="form-check">
              <input class="form-check-input aman" type="radio" name="kondisi" id="flexRadioDefault1" value="Aman" />
              <label class="form-check-label" for="flexRadioDefault1"> Aman </label>
            </div>
            <div class="form-check">
              <input class="form-check-input tidak-aman" type="radio" name="kondisi" id="flexRadioDefault2" value="" />
              <label class="form-check-label" for="flexRadioDefault2"> Tidak Aman </label>
              <div></div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <input type="button" value="Reset" class="btn btn-secondary bg-gradient me-1" id="sig-clearBtn" />
            <button id="sig-submitBtn" type="submit" class="btn btn-primary bg-gradient">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    const tertentu = document.querySelector(".tertentu");
    const semua = document.querySelector(".semua");

    tertentu.addEventListener("click", () => {
      if (tertentu.checked) {
        tertentu.nextElementSibling.nextElementSibling.innerHTML = '<input type="text" class="form-control mt-2 ket" id="formGroupExampleInput2" placeholder="Masukkan lokasi titik pantau CCTV" name="lokasi" />';
      }
    });

    semua.addEventListener("click", () => {
      if (semua.checked) {
        tertentu.nextElementSibling.nextElementSibling.innerHTML = "";
      }
    });
  </script>
  <script>
    const tidakAman = document.querySelector(".tidak-aman");
    const aman = document.querySelector(".aman");

    tidakAman.addEventListener("click", () => {
      if (tidakAman.checked) {
        tidakAman.nextElementSibling.nextElementSibling.innerHTML = '<input type="text" class="form-control mt-2 ket" id="formGroupExampleInput2" placeholder="Masukkan detail kondisi tidak aman" name="kondisi" />';
      }
    });

    aman.addEventListener("click", () => {
      if (aman.checked) {
        tidakAman.nextElementSibling.nextElementSibling.innerHTML = "";
      }
    });
  </script>
</main>
{% endblock content %}
