{% extends 'layouts/base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<main class="container form-input">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="text-center border-bottom pb-2 mb-3">FORM INPUT JADWAL SECURITY</h3>
      <div class="card card-jadwal">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Periode Jadwal</label>
            <input type="month" class="form-control form-control-lg" id="exampleFormControlInput1" name="periode" required />
          </div>
          <div class="mb-3">
            <label for="formFileLg" class="form-label">Upload Jadwal Security</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" name="foto" required />
          </div>
          <div class="d-flex justify-content-center">
            <input type="reset" value="Reset" class="btn btn-secondary bg-gradient me-1" id="sig-clearBtn" />
            <button id="sig-submitBtn" type="submit" class="btn btn-primary bg-gradient">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
