{% extends 'layouts/base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<main class="container form-input">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="text-center border-bottom pb-2 mb-3">FORM PENERIMAAN TAMU</h3>
      {% if messages %}{% for msg in messages %}
      <div class="row">
        <div class="col">
          <div class="alert alert-danger alert-dismissible fade show text-center mx-3 rounded-4" role="alert"><i class="bi-exclamation-triangle-fill text-center me-2"></i>{{msg}}</div>
        </div>
      </div>
      {% endfor %}{% endif %}
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Nama Lengkap</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Masukkan nama lengkap" name="nama" required />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Asal Perusahaan / Instansi</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Masukkan asal perusahaan / instansi" name="instansi" required />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Nomor Handphone</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Masukkan nomor handphone" name="nohp" required />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Tujuan Berkunjung</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Masukkan tujuan berkunjung" name="tujuan" required />
          </div>
          {% comment %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Bertemu siapa?</label>
            <select class="form-select" aria-label="Default select example" name="pegawai">
              <option selected disabled>Pilih nama pegawai</option>
              {% for emp in employees %}
              <option value="{{emp.nohp}}">{{emp.nama_pegawai}} ({{emp.jabatan}})</option>
              {% endfor %}
            </select>
          </div>
          {% endcomment %}
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Kondisi Kesehatan</label>
            <div class="form-check">
              <input class="form-check-input sehat" type="radio" name="kondisi" id="flexRadioDefault1" value="Sehat" />
              <label class="form-check-label" for="flexRadioDefault1"> Sehat </label>
            </div>
            <div class="form-check">
              <input class="form-check-input tidak-sehat" type="radio" name="kondisi" id="flexRadioDefault2" value="" />
              <label class="form-check-label" for="flexRadioDefault2"> Tidak Sehat </label>
              <div></div>
            </div>
          </div>
          <div class="mb-3 d-flex flex-column align-items-center mx-auto foto-tamu border rounded-2 p-4 w-100">
            <div id="result" class="text-center"></div>
            <div id="my_camera"></div>
            <div class="btn btn-danger bg-gradient capture rounded-pill mt-1"><i class="bi-camera"></i></div>
            <input type="hidden" name="foto" class="foto" value="" required />
          </div>
          <div class="text-center tombol-tamu"></div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/vendor/webcamjs/webcam.js"></script>

  <script>
    const camera = document.getElementById("my_camera");
    const capture = document.querySelector(".capture");
    const foto = document.querySelector(".foto");
    const result = document.getElementById("result");
    const tombol = document.querySelector(".tombol-tamu");

    Webcam.set({
      width: 240,
      height: 320,
      dest_width: 240,
      dest_height: 320,
      image_format: "jpeg",
      jpeg_quality: 90,
      force_flash: false,
      flip_horiz: true,
      fps: 45,
    });

    Webcam.attach(camera);

    capture.addEventListener("click", () => {
      Webcam.snap(function (data_uri) {
        foto.value = data_uri;
        result.innerHTML = `<i class="bi-check-circle-fill text-success"></i><p>Foto berhasil disimpan</p>`;
        camera.remove();
        capture.remove();

        if (foto.value) {
          tombol.innerHTML = `<input type="button" class="btn btn-secondary bg-gradient me-1" value="Reset" onclick="document.location.reload()" />
          <input type="submit" class="btn btn-primary bg-gradient" value="Submit" />`;
        }
      });
    });
  </script>
  <script>
    const tidakSehat = document.querySelector(".tidak-sehat");
    const sehat = document.querySelector(".sehat");

    tidakSehat.addEventListener("click", () => {
      if (tidakSehat.checked) {
        tidakSehat.nextElementSibling.nextElementSibling.innerHTML = '<input type="text" class="form-control mt-2" id="formGroupExampleInput2" placeholder="Masukkan detail kondisi tubuh saat ini" name="kondisi" />';
      }
    });

    sehat.addEventListener("click", () => {
      if (sehat.checked) {
        tidakSehat.nextElementSibling.nextElementSibling.innerHTML = "";
      }
    });
  </script>
</main>
{% endblock content %}
