{% load static %}{% load remove_substr %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %} {% block title %}
    <title>{{title}}</title>
    {% endblock title %}
    <!-- Favicons -->
    <link href="{% static 'img/encrypted.png' %}" rel="icon" />
  </head>
  <body>
    {% block content %}
    <main class="container laporan-bulanan">
      <div class="row">
        <div class="col-lg-12">
          <div class="row mb-4">
            <div class="logopln">
              <img src="{% static 'img/logopln.png' %}" class="img-fluid" alt="" />
            </div>
            <div class="pln">
              <h6>PT PLN (PERSERO)</h6>
              <h6>UIKL SULAWESI</h6>
              <h6>UPDK MINAHASA</h6>
              <h6>ULPLTD KOTAMOBAGU</h6>
            </div>
          </div>
          <div class="text-center mb-3 judul">
            <h6>LAPORAN KONDISI CCTV</h6>
            <h6>UNIT LAYANAN PLTD KOTAMOBAGU</h6>
            <h6>PERIODE BULAN {{reports.0.transmonth|upper}} {{reports.0.detail_time|date:'Y'}}</h6>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th scope="col" class="align-middle">No</th>
                  <th scope="col" class="align-middle">Tanggal</th>
                  <th scope="col" class="align-middle">Lokasi CCTV</th>
                  <th scope="col" class="align-middle">Waktu Pantau</th>
                  <th scope="col" class="align-middle">Kondisi Pantau</th>
                  <th scope="col" class="align-middle">Nama Security</th>
                </tr>
              </thead>
              <tbody>
                {% for report in reports %}
                <tr>
                  <td class="align-middle">{{forloop.counter}}</td>
                  <td class="align-middle">{{report.tanggal|date:'d-m-Y'}}</td>
                  <td class="align-middle">{{report.lokasi}}</td>
                  <td class="align-middle">{{report.detail_time|time:'H:i'}}</td>
                  <td class="align-middle">{{report.kondisi}}</td>
                  <td class="align-middle">{{report.nama_security|remove_substr}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    {% endblock content %}{% include 'includes/preloader.html' %}{% include 'includes/scripts.html' %}
  </body>
</html>
