{% extends 'layouts/base.html' %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<main class="container emergency-call">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">SOP Penerimaan Tamu</button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
              well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">SOP Pengoperasian Hydrant (Elektrik)</button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">Pemeriksaan level air pada bak penampungan</li>
                <li class="list-group-item">Buka valve 1 (posisi samping pompa diesel)</li>
                <li class="list-group-item">Buka valve utama (sebelum pompa elektrik), apabila posisi tertutup</li>
                <li class="list-group-item">Tekan tombol start pada panel pompa elektrik</li>
                <li class="list-group-item">Buka valve indikator (posisi samping valve 1) untuk memastikan air sudah terdistribusi ke hydrant</li>
                <li class="list-group-item">Informasikan kepada komando bahwa posisi air sudah standby pada hydrant</li>
                <li class="list-group-item">Tutup kembali valve indikator dan tunggu arahan dari komando</li>
                <li class="list-group-item">Pengoperasian pompa elektrik selesai</li>
              </ol>
              <h6 class="mt-4">Setelah hydrant selesai digunakan</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">Koordinasi dengan komando sebelum pompa elektrik di-stop</li>
                <li class="list-group-item">Stop pompa elektrik dengan menekan push button pada panel</li>
                <li class="list-group-item">Tutup kembali valve 1</li>
                <li class="list-group-item">Operasikan pompa air untuk mengisi bak penampungan</li>
                <li class="list-group-item">Selesai</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">SOP Pengoperasian Hydrant (Diesel)</button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">Pemeriksaan level bahan bakar, oli dan air pada bak penampungan</li>
                <li class="list-group-item">Pemeriksaan kondisi terminal plus minus baterai kondisi baik/normal</li>
                <li class="list-group-item">Pasang kabel positif baterai</li>
                <li class="list-group-item">Buka valve 2 (posisi samping pompa diesel)</li>
                <li class="list-group-item">Buka valve utama (sebelum pompa diesel), apabila posisi tertutup</li>
                <li class="list-group-item">Buka kran bahan bakar</li>
                <li class="list-group-item">Naikkan sedikit gas dan Start Mesin pompa diesel</li>
                <li class="list-group-item">Buka valve indikator (posisi samping valve 1) untuk memastikan air sudah terdistribusi ke hydrant</li>
                <li class="list-group-item">Naikkan/tambah gas secara perlahan</li>
                <li class="list-group-item">Informasikan kepada komando bahwa posisi air sudah standby pada hydrant</li>
                <li class="list-group-item">Tutup kembali valve indikator dan tunggu arahan dari komando</li>
                <li class="list-group-item">Pengoperasian pompa diesel selesai</li>
              </ol>
              <h6 class="mt-4">Setelah hydrant selesai digunakan</h6>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">Koordinasi dengan komando sebelum pompa diesel di-stop</li>
                <li class="list-group-item">Kurangi/turunkan gas secara perlahan hingga mesin pompa diesel stop</li>
                <li class="list-group-item">Tutup kembali valve 2</li>
                <li class="list-group-item">Lepas kabel positif pada baterai</li>
                <li class="list-group-item">Operasikan pompa air untuk mengisi bak penampungan</li>
                <li class="list-group-item">Selesai</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
