:root {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

main {
  padding-top: 70px;
  padding-bottom: 15px;
}

/* PRELOADER */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}
#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid #0d6efd;
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/* SIGN IN  */
.sign-in {
  max-width: 330px;
  padding: 15px;
}
.sign-in p {
  font-size: 10px;
}

/* NAVBAR  */
.nav-scroller .nav {
  color: rgba(255, 255, 255, 0.75);
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}
.nav-scroller .nav-link:hover {
  color: #007bff;
}
.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.navbar .shift i {
  font-size: 70px;
}

/* HOME */
.home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.home .card {
  width: 150px;
  height: 150px;
  border-radius: 35px;
}
.home .card i {
  font-size: 80px;
}
.home .modal i {
  font-size: 70px;
}

/* FORM INPUT ALL */
.form-input .card {
  padding: 20px 50px;
  border-radius: 20px;
}
/* .form-input .foto-tamu {
  padding: 30px;
} */
.form-input #my_camera {
  width: 240px;
  height: 320px;
}
.form-input #result i {
  font-size: 70px;
}
.form-input .capture {
  width: 80px;
}
.form-input .capture i {
  font-size: 20px;
}
.form-input .card-jadwal {
  padding: 100px 70px;
}

/* EMERGENCY CALL*/
.emergency-call .card .card-header {
  height: 100px;
}

/* CAMERA ACTION */
.camera-action #btnPlay {
  display: none;
}
.camera-action i {
  font-size: 30px;
}
.camera-action #result .bi-check-circle-fill {
  font-size: 70px;
}

/* LAPORAN PATROLI */
.laporan-patroli .card {
  padding: 20px 50px;
  border-radius: 20px;
}
.laporan-patroli i {
  font-size: 20px;
}
/* Laporan Patroli  */
.laporan-patroli .bi-info-circle-fill {
  cursor: pointer;
}

/* LAPORAN PATROLI SHIFTY  */
.laporan-patroli-shift .card-1 {
  padding: 20px 50px;
  border-radius: 20px;
}

/* FOR MOBILE  */
@media screen and (max-width: 992px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .navbar-collapse button {
    display: none;
  }
  .navbar .btn-offcanvas {
    display: none;
  }

  /* SIGN IN  */
  .sign-in p {
    font-size: 10px;
  }

  /* HOME  */
  .home {
    height: auto;
    padding-top: 80px;
  }
  .home .card {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  .home .card i {
    font-size: 50px;
  }
  .bot-navbar .container-fluid {
    height: 35px;
  }
  .bot-navbar a {
    border: 7px solid #fff;
  }
  .bot-navbar .bi-camera {
    font-size: 30px;
  }

  /* FORM INPUT ALL */
  .form-input .card {
    padding: 20px;
  }

  /* SELAMAT DATANG */
  .selamat-datang .cp p,
  .selamat-datang .cp a {
    margin-top: -7px;
    font-size: 15px;
  }

  /* LPOARN PATROLI  */
  .laporan-patroli .card {
    padding: 20px;
  }
  /* Buku Tamu */
  .laporan-patroli table {
    font-size: 15px;
  }
  .laporan-patroli .table-mobile {
    display: none;
  }

  /* LAPORAN PATROLI SHIFT  */
  .laporan-patroli-shift .card-1 {
    padding: 20px;
  }

  /* CAMERA ACTION  */
  .camera-action .camera-form {
    display: none;
  }

  /* JADWAL SECURITY  */
  .jadwal-security .jadwal {
    display: none;
  }
}
