<nav class="navbar top-navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container">
    <div class="navbar-brand">
      {% if request.path == '/' %}{% else %}<a href="/"><i class="bi-arrow-left me-4 d-lg-none"></i></a>{% endif %} {% if request.path == '/' %}SecurityApp{% else %}{{title}}{% endif %}
    </div>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <i class="bi-chevron-double-down"></i>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <h5 class="text-center text-bg-primary py-2 mt-2 fw-light rounded-4 d-lg-none">Petugas saat ini:</h5>
      <div class="shift d-flex justify-content-evenly mb-3 d-lg-none">
        {% for jdwl in jadwal %}
        <div class="text-center">
          <i class="bi-person-fill text-light"></i>
          <h6 class="text-light fw-light">{{jdwl.nama_security_id.nama_security}}</h6>
        </div>
        {% endfor %}
      </div>
      <!-- <hr class="text-light" /> -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="{% url 'jadwal_security' %}">Jadwal Security</a>
        </li>
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="#">Summary Report</a>
        </li>
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="{% url 'buku_tamu' %}">Buku Tamu</a>
        </li>
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="{% url 'laporan_patroli' %}">Laporan Patroli</a>
        </li>
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="{% url 'laporan_apel' %}">Laporan Apel</a>
        </li>
        <li class="nav-item py-2 border-bottom">
          <a class="nav-link" href="{% url 'laporan_cctv' %}">CCTV</a>
        </li>
        <!-- <li class="nav-item py-2 border-bottom dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Apel</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item py-2" href="{% url 'laporan_apel' %}">Daily Report</a></li>
            <li><a class="dropdown-item py-2" href="#">Monthly Report</a></li>
          </ul>
        </li> -->
      </ul>
      <div class="d-flex justify-content-center mt-4 d-lg-none">
        <a href="{% url 'sign_out' %}" class="btn btn-secondary bg-gradient" type="submit"><i class="bi-box-arrow-right me-2"></i>Sign Out</a>
      </div>
      <div class="btn btn-secondary bg-gradient ms-auto btn-offcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i class="bi-card-text me-2"></i>Menu</div>
    </div>
  </div>
</nav>
